<!DOCTYPE html>
<html>
  <head>
    <title>Mailer App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Mailer App</h3>
      </div>
      <%= render partial: "shared/flash_messages", flash: flash %> 
      <%= yield %>
      <footer class="footer">
        <p>© Shiva Bharthur 2017</p>
      </footer>
    </div>
  </body>
</html>